Repository SWE574-G3/Living-Stories-App, pull requests merged in 2023-12, with the labels that each got.

#136 Update m2_group3.md
  reports/m2_group3.md
Labels: documentation

#137 Add Project Completion Strategy section
  reports/m2_group3.md
Labels: documentation

#155 Implement Recommendation Explanation Feature for Issue #154
  recommendation_engine/rec_engineV3.py
  reports/m2_group3.md
Labels: enhancement, Recommendation-Engine

#163 Mobile new post story
  mobile/living_stories_mobile/App.tsx
  mobile/living_stories_mobile/components/Followers.tsx
  mobile/living_stories_mobile/components/LikedUsers.tsx
  mobile/living_stories_mobile/package-lock.json
  mobile/living_stories_mobile/package.json
  mobile/living_stories_mobile/screens/MyProfile.tsx
  mobile/living_stories_mobile/screens/PostStory.tsx
  mobile/living_stories_mobile/screens/PostStoryMap.tsx
  mobile/living_stories_mobile/screens/Profile.tsx
  mobile/living_stories_mobile/screens/StoryPage.tsx
  mobile/living_stories_mobile/screens/no_animation.json
Labels: enhancement, priortiy: high, mobile UI, frontend, improvement
